from openai import OpenAI

client = OpenAI(
	base_url="https://api-inference.huggingface.co/v1/",
	api_key="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"
)

def get_diagnosis(symptoms):
    messages = [
        {
            "role": "user",
            "content": f"Patient presents with the following symptoms: {symptoms} Based on these symptoms, provide a concise list of possible diagnoses and Format the response to be only disease names in json array"
        }
    ]

    response = client.chat.completions.create(
        model="google/gemma-2-2b-it", 
        messages=messages, 
        max_tokens=500
    )
    return response.choices[0].message.content

if __name__ == "__main__":
    symptoms = input("Enter symptoms separated by commas: ")
    diagnosis = get_diagnosis(symptoms)
    print("Possible diagnoses:", diagnosis)
